<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.a2022swproject">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_main"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.2022SWProject"
        tools:targetApi="31"
        >
        <activity
            android:name=".AccountActivity"
            android:icon="@drawable/ic_main"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:exported="true"
            android:launchMode = "singleInstance"
            android:label="갖구가구">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".MainActivity"/>
        <activity android:name=".mainFunction.userBoard.DetailBoardActivity"/>
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="597uigbp2b" />


    </application>

</manifest>